﻿body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-brand {
  font-size: 28px;
  line-height: 26px;
  padding-left: 30px;
  color: #333 !important;
  font-weight: bold;
}

.navbar-inverse
{
    background-color: #f4f4f4;
    border-color: #aaa;
}

.form-control {
    margin: 10px;
}