﻿@{
    ViewBag.Title = "ACME store home page";
}

<div class="jumbotron">
    <h1>Custom checkout page demo</h1>
    <p class="lead">This is a test page for FotoWeb custom checkout page order integration</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Please see Controllers/OrderController.cs file for instructions how to use this demo.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Order API documentation</h2>
        <p>Please see order API documentation on learn.fotoware.com</p>
        <p><a class="btn btn-default" href="https://learn.fotoware.com/02_FotoWeb_8.0/Developing_with_the_FotoWeb_API/01_The_FotoWeb_RESTful_API/Orders/Using_the_Order_Management_API">Order API documentation &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Configuring orders</h2>
        <p>Set up a custom checkout page in FotoWeb configuration to use this demo.</p>
        <p><a class="btn btn-default" href="https://learn.fotoware.com/02_FotoWeb_8.0/03_Configuring_workflows/Configuring_the_FotoWeb_Shopping_Cart">Learn more &raquo;</a></p>
    </div>
</div>