﻿@using OrderDemo.Models;
@model OrderModel

@{
    ViewBag.Title = "Process order";
}

<h2>Order #@Model.OrderReference</h2>


<div class="jumbotron">
    @if (ViewBag.StateError == "NotInCreatedState")
    {
        <div>Error: Order is not in "created" state.</div>
    }
    else if (ViewBag.StateError == "Unauthorized")
    {
        <div>Error 401: Could not load order. Please make sure API key is correct</div>
    }
    else if (ViewBag.StateError == "NotFound")
    {
        <div>Error 404: Could not find order.</div>
    }
    else if (ViewBag.StateError == "UnknownError")
    {
        <div>An unknown error occured.</div>
    }
    else
    {
        using (Html.BeginForm("OrderConfirmed", "order", FormMethod.Post))
        {
            for (int i = 0; i < Model.OrderItems.Count; i++)
            {
                <div style="margin: 25px 0">
                    <div style="width:212px; display:inline-block; text-align: center; border: 1px solid #aaa; border-radius: 3px; padding: 5px;">
                        <img style="max-width: 200px; max-height: 200px;" src="@Model.OrderItems[i].PreviewHref">
                    </div>
                    <div style="display:inline-block; vertical-align:top; font-size:14px">
                        <div><b>Rendition:</b> @Model.OrderItems[i].RenditionName</div>
                        <div><b>Title:</b> @Model.OrderItems[i].AssetTitle</div>
                        <div><b>Description:</b> @Model.OrderItems[i].AssetDescription</div>
                    </div>
                </div>
            
            }
                        @Html.DropDownList("cardType", new SelectList(Enum.GetValues(typeof(CardType))), "Select payment card", new { @class = "form-control" })
                        @Html.TextBoxFor(modelItem => Model.CardNumber, new { @class = "form-control", placeholder = "Card number" })
            <input type="submit" class="form-control" value="Complete order" />
        }
    }
</div>

