﻿
@{
    ViewBag.Title = "Order confirmed";
}

<h2>Order #@ViewBag.OrderReference</h2>

<div>
    Great! Your order was processed successfully. <a href="@ViewBag.OrderHistoryViewHref">View orders</a> in FotoWeb.
</div>
